.sanicole-header {
  display: flex;
  justify-content: space-between; /* left content + right logo */
  align-items: center;            /* vertical alignment */
  width: 100%;
  height: 150px;

  padding: 8px;

  background-color: #fff;
}

.sanicole-basics {
    align-items: stretch;
    font-size: 50px;
    line-height: 1;
}

.sanicole-logo img {
  height: 150px;
  width: auto; /* keeps proportions correct */
  display: block; /* removes weird spacing under inline images */
}